.weather-app {
    background-color: #edf6e5;
    border: 1px solid #e5fbb8;
    border-radius: 20px;
    font-family: "Miriam Libre", sans-serif;
    margin: 25px;
    padding: 20px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}